* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Faster One", cursive;
  height: 100vh;
}
.wrap {
  background-image: url("bgs.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
nav {
  background-color: hsla(0, 100%, 90%, 0.3);
  width: 30em;
  height: 7em;
}
h1 {
  font-size: 3em;
  color: black;
  padding: 1em;
}
section {
  margin: auto;
  width: 50%;
  padding: 10px;
}
.scramble {
  margin-top: 20px;
}
.scramble p {
  font-size: 1.5em;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  /* font-family: "Montserrat", sans-serif; */
  font-weight: 600;
}
.timer {
  margin-top: 5em;
}
#time {
  font-size: 8em;
  text-align: center;
}
.starter {
  text-align: center;
  margin-top: 5em;
  font-size: 2em;
  height: 2em;
}
.starter p:hover {
  background-color: rgba(0, 0, 0, 0.397);
  color: white;
  transition: 0.5s;
  font-size: 2em;
}
#stop {
  display: none;
}
